@media screen and (max-width: 900px){
    .but{
        margin-right: 15px;
        width: 25%;
        margin-top: -45px;
    }
    .bande{
        min-width: 50%;
    }
    button{
        width: 100%;
        height: 40px;
        background-color: orange;
        color: white;
        margin-top: 50px;
        font-size: 15px;
        border: none;
        margin-bottom: 50px;
    }
    .infos{
        margin-top: 10px;
    }
    .carre{
            text-align: center;
            min-height: 200px;
            min-width: 50%;
            margin-top: 50px;
        }
    
    .perso{
        width: 150px;
        position: absolute;
        top: -50px;
        left: 70px;
    }
    .bande1{
        position: relative;
        min-width: 75%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 240px;
    }    
    .log{
        width: 80%;
        gap: 5px;
    }
    .band1{
        margin-left: 20px;
    }
    .band2{
        min-width: 80%;
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        margin-top: -1px;
    }
    .cote1{
        margin-right: 200px;
    }
    .text1{
        font-size: 18.7px;
        margin-left: 8px;
        margin-top: 20px;
    }
    .cote2{
        width: 100%;
    }
    .box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nbre1{
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 10px;
        left: 140px;
        font-size: x-large;
    }
    .nbre2{
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 210px;
        left: 140px;
        font-size: x-large;
    }
    
    .nbre3{
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 420px;
        left: 165px;
        font-size: x-large;
    }
    .nbre4  {
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 620px;
        left: 165px;
        font-size: x-large;
    }
    /* .nbre1{
        position: absolute;
        top: 50px;
        left: 25px;
        text-align: center;
        font-size: x-large;
    }
    .nbre2{
        position: absolute;
        top: 200px;
        left: 25px;
        text-align: center;
        font-size: x-large;
    }
    .nbre3{
        position: absolute;
        top: 350px;
        left: 50px;
        text-align: center;
        font-size: x-large;
    }
    .nbre4  {
        position: absolute;
        top: 500px;
        left: 50px;
        text-align: center;
        font-size: x-large;
    } */
    .worke{
        width: 100%;
    }
    .test{
        width: 100%;
        margin-left: -10px;
    }
    .cot1{
        margin-left: -80px;
    }
    .cot2{
        width: 100%;
    }
    ul{
        margin-top: 25px;
        margin-left: -30px;
    }
    .web{
        color: white;
        margin-top: 50px;
    }
    .jun{
        margin-top: 15px;
    }
    .outer {
        border-left: none;
      }
      .info{
        margin-top: -60px;
      }
      .timeline{
        width: 150%;
        margin-left: -130px;
     }
      .title::after {
            border: none;
            background-color: white;
          }
          .boxe{
            width: 100%;
          }
          .ucla, .grad{
            margin-left: 10px;
          }
          .title{
            margin-left: 10px;
          }
          .ban{
            margin-top: 550px;
            align-items: center;
            display: flex;
            flex-direction: column;
          }
          .carte{
            margin-top: 5px;
          }
          .foot{
            line-height: 35px;
          }
      }
